.homeFaq-container {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeFaqHead-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.homeFaqHead-container > h6 {
  color: var(--customColor);
  text-align: center;
  font-size: 15px;
}
.homeFaqHead-container > h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.homeFaq-content {
  /* border: solid green; */
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--customWhite);
  padding: 20px;
}
.accordion-container {
  /* border: solid blue; */
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
}

.accordion-header {
  /* border: solid brown; */
  background-color: var(--customColor);
  color: white;
  padding: 15px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.accordion-title {
  margin: 0;
}

.accordion-icon {
  font-size: 1.2rem;
}

.accordion-content {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--customColor);
  padding: 10px 15px;
}

.accordion-content > p {
  margin: 0;
  font-size: 18px;
}
@media screen and (min-width: 320px) and (max-width:768px) {
  .homeFaq-content {
    /* border: solid green; */
    width: 100%;
  }
}