@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

:root {
  --customColor: #fd8643;
  --customWhite: rgb(243, 243, 243);
  --customGradient: linear-gradient(
    91.9deg,
    rgb(75, 207, 250) 6.3%,
    rgb(25, 159, 249) 98.9%
  );
}
.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
  }

  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top-color: var(--customColor);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-weight: 600;
    color: #222;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }